@tailwind base;
@tailwind components;
@tailwind utilities;

/* ####################################### */

@font-face {
  font-family: "Brown Bold";
  src: url('/fonts/fonts-brown/Brown-Bold.woff2') format('woff2');
}

@font-face {
  font-family: "Brown Regular";
  src: url('/fonts/fonts-brown/Brown-Regular.woff2') format('woff2');
}

.text-bold {
  font-family: "Brown Bold";
}
/* .text-regular {
  font-family: "Brown Regular";
} */

body {
  @apply text-neutral-900 dark:text-white bg-white dark:bg-gray-900;
  font-family: "Brown Regular";
  font-size: 16px;
}
a {
  @apply hover:text-blue-tron dark:hover:text-blue-tron
}
.f-container {
  @apply container mx-auto px-3 sm:px-4 lg:px-3 xl:px-0 max-w-6xl
}
.logo {
  @apply text-black dark:text-white h-full items-center align-middle text-bold text-xl;
}
.h-screen-auth {
  @apply bg-slate-50 dark:bg-gray-800/60;
  height: 600px!important;
}
.top-22 {
  @apply top-[88px];
}


a.underbar span:before {
  background: #05cdff;  /* blue-tron */
  bottom: -16px;
  content: "";
  height: 2px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: width .2s;
  width: 0;
}
a.underbar-active span:before {
  background: #05cdff;  /* blue-tron */
  bottom: -15px;
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
}
a.underbar:hover span:before {
  width: 100%;
}
.bottom-bar {
  height: calc(3rem + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
}
